*{
  margin: 0;
  padding: 0;
}

body{
  background: white;
  color: black;
}

@font-face {
  font-family: BebasNeue;
  src: url(BebasNeue-Regular.otf);
}

button:focus {outline:0;}

.header{
  background:black;
  color: white;

  height: 80px;
  width: 100%;

  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

.title{
  font-family: BebasNeue;

  width: 30%;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
}

.buttons{
  width: 70%;
  height: 82px;

  margin-top: -80px;
  margin-left: 200px;
}

.button{
  background: black;
  color: white;
  font-family: BebasNeue;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 200;
  float: right;

  height: 82px;
  width: 155px;

  padding: 20px;

  border: 3px black solid;
}

.button:hover{
  border-bottom: 3px white solid;
}

.container{
  background; red;

  width: 80%;
}

.title2{
  font-family: BebasNeue;
  font-size: 22px;
  letter-spacing: 0.04em;

  width: 30%;

  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 80px;
}

.text1{
  background: #F5F5F5;
  width: 80%;

  margin-top: 100px;
  margin-left: 10%;

  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

.para{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 80px;

  font-family: arial;
}

.introduction{

}

.video{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;

  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

.footer{
  background: black;
  color: white;
  font-family: BebasNeue;

  height: 200px;
  width: 100%;

  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

.section{
  background: black;
  color: white;

  height: 140px;
  width: 25%;

  padding: 30px;
}

.section h4{
  font-family: BebasNeue;
  font-size: 20px;
  text-decoration: underline;

  letter-spacing: 0.2em;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 80px;
}

.section p{
  font-family: BebasNeue;
  font-size: 15px;
  letter-spacing: 0.02em;

  letter-spacing: 0.1em;
}

.section2{
  background: black;
  color: white;

  height: 140px;
  width: 25%;

  padding: 30px;

  margin-left: 25%;
  margin-top: -200px;
}

.section2 h4{
  font-family: BebasNeue;
  font-size: 20px;
  text-decoration: underline;

  letter-spacing: 0.2em;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 60px;
}

.section2 p{
  font-family: BebasNeue;
  font-size: 15px;
  letter-spacing: 0.02em;

  letter-spacing: 0.1em;
}

.section3{
  background: black;
  color: white;

  height: 140px;
  width: 50%;

  padding: 30px;

  margin-left: 50%;
  margin-top: -200px;
}

.section3 h4{
  font-family: BebasNeue;
  font-size: 20px;
  text-decoration: underline;

  letter-spacing: 0.2em;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 80px;
}

.section3 p{
  font-family: BebasNeue;
  font-size: 15px;
  letter-spacing: 0.1em;

  letter-spacing: 0.1em;
}
